home/config/PrusaSlicer/cache/**
home/config/PrusaSlicer/snapshots/**
home/config/PrusaSlicer/vendor/**
home/config/eww/scripts/__pycache__/**
home/config/chitubox/Log/**
home/config/emacs/*/**

!home/config/emacs/init.el
!home/config/emacs/config/**
!home/config/emacs/snippets/**