.workspace_button {
    font-family: Hack;
    font-size: 12px;

    border-radius: 1rem;
    background-color: $onPrimary;
    margin: 0.25 0.25rem;
    padding: 0 0.7rem;
    transition: all 0.35s ease-out;

    color: $color15;

    &.active {
        color: $color8;
        background-color: $primary;
        font-size: 25px;
        padding: 0 2rem;
        margin: 0 0.25rem;
    }
}

.workspace_button:hover {
    background-color: mix($onPrimary, $onSurface, 70%);

    &.active {
        background-color: mix($primary, $onSurface, 70%);
    }
}

.workspace_dock_standalone {
    background-image: url("images/background.png");
    background-color: $color0;
    border-radius: 40px;
    padding-right: 10px;
    opacity: 0.85;
}

.workspace_dock_standalone * {
    font-size: 20px;
}