@import "colors.scss";
@import "bars/eww.scss";

@import "themes/radium";

* {
    all: unset;
    font-family: "Iosevka Curly";
    font-weight: 800;
    transition: all 0.35s ease-out;
}

tooltip {
    font-family: Phosphor, Dosis;
    background-color: $base15;
    color: $base01;
    font-size: 14px;
}

.bar-widget {
    padding: 0.4rem 1rem;
    margin-bottom: 0rem;
    margin-left: 0rem;
    margin-right: 0rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background: rgba($background, 0.55);
}