.center_icons {
    margin-right: 5px;
    margin-left: 15px;
}

.center_labels {
    font-size: 16px;
    margin-bottom: -3px;
    margin-top: 1px;
    color: $color15;
}

.center_revealers {
    border-radius: 5px;
    background-color: rgba($color0, 1);
    min-height: 32px;
    border: solid 2px $color11;
    color: $color12;
}

.center_info scale trough highlight {
    all: unset;
    background: $color3;
    border-radius: 10px;
    border: solid 2px $color11;
}

.center_info scale trough {
    all: unset;
    background-color: rgba($color15, 0.4);
    border-radius: 10px;
    min-width: 110px;
    min-height: 10px;
}