@import "center.scss";
@import "left/workspaces.scss";
@import "right/keyboard.scss";
@import "right/time.scss";

.win_normal {
    border-radius: 40px;
    padding-right: 10px;
    padding-left: 10px;
}

.win_hovered {
    padding-right: 10px;
    padding-left: 10px;
}